[Desktop Entry]
Type=Application
Name=PiliNext
Comment=A third-party Bilibili Client developed in Flutter
Comment[zh_CN]=使用 Flutter 开发的 BiliBili 第三方客户端
Exec=pilinext
Icon=pilinext
Terminal=false
StartupWMClass=com.example.pilinext
Categories=Video;AudioVideo;Player;
